*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body{
    background-image: url("resources/background.svg");
    background-size: cover;
}

.logo{
    margin-left: 4rem;
    margin-top: 1rem;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    color: #FFFFFF;
    margin-top: 2rem;
    width: 40%;
    text-align: center;
}

.top h1{
    font-size: 3.5rem;
}

.top p{
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.form-container{
    background-color: #FFFFFF33;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    height: auto;
    padding: 1.5rem;
    color: #FFFFFF;
    border-radius: 10px;
    width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.message{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.submit{
    grid-column: 1 / 3;
}

.box{
    height: 60px;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    font-weight: 600;
    background-color: #FFFFFF;
}

select{
    appearance: none;
    background-color: #FFFFFF;
    background: url('resources/Expand_down.svg')  no-repeat right 10px center;
    background-size: 1.5rem;
}


input::placeholder{
    color: #111729;
}

.label{
    font-size: 0.85rem;
}

.message-box{
    height: 175px;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    padding-bottom: 8rem;
    font-weight: 600;
}

.btn{
    color: #4036A9;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 375px) {
    body{
        height: auto;
    }

    .logo{
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top{
        width: 100%;
        margin: 2rem 0;
    }

    .head{
        font-size: 2.5rem;
    }

    .para{
        font-size: 1rem;
    }

    .form-container{
        display: flex;
        flex-direction: column;
        width: 95%;
        padding: 1rem;
    }
}
